#footer {
	padding: 40px 0 0; 
}

.footer-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -10px;
}

.footer-nav {
	width: 41%;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	padding: 0 10px 20px;

	@include media("<desktop") {
		width: 100%
	}

	.foote-item {
		width: 33%;
		padding: 0 10px;

		@include media("<desktop") {
			text-align: center;
			padding: 0 10px 10px;
		}

		@include media("<=400px") {
			width: 100%;
		}

		ul {
			@extend %listreset;
			letter-spacing: -.4em;
			line-height: 22px;

			li {
				letter-spacing: normal;

				@include media("<=400px") {
					display: inline-block;
					padding: 0 10px 0;
				}

				a{
					@include animate(color);
					color: $gray-700;
					line-height: 16px;
					text-decoration: none;
					display: inline-block;

					&:hover {
						color: $light-blue;
					}
				}
			}
		}
	}
}

.tweets {
	width: 26%;
	padding: 0 10px 20px 30px;
	line-height: 22px;

	@include media("<desktop") {
		width: 100%;
		max-width: 320px;
		margin: 0 auto
	}

	.twitter-title {
		position: relative;
		padding-left: 18px;
	}

	p {
		margin: 0;
	}

	.date {
		color: $light-gray;
	}

	a {
		@include animate(color);
		text-decoration: none;

		&:hover {
			color: darken($light-blue, 10%);
		}
	}
}

.contact-col {
	width: 33%;
	padding: 0 10px 20px;

	@include media("<desktop") {
		width: 100%;
		max-width: 320px;
		margin: 0 auto;
	}
}

.support {
	width: 100%;
	background: #f3f3f3;
	border: 1px solid  $light-gray;
	border-radius: 4px;
	position: relative;
	padding: 20px 10px 16px 100px;
	margin-bottom: 36px;
	box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, .15);

	&:before {
		content:'';
		position: absolute;
		z-index: 100;
		
		width: 58px;
		height: 58px;
		top: 50%;
		transform: translateY(-50%);
		left: 20px;
		background: url(../images/lifebuoy.png);
	}

	.support-title {
		font-size: 11px;
		line-height: 13px;
		color: $light-gray;
		text-transform: uppercase;
		display: block;
	}

	.telephone {
		color: #434b56;
		font-size: 18px;
		line-height: 20px;
		text-decoration: none;
		display: block;
		margin-bottom: 6px;


	}

	.email {
		text-decoration: none;
		display: inline-block;
		border-bottom: 1px dashed $light-blue;
	}

}

.twitter-title,
.nav-title {
	display: inline-block;
	font: 400 16px/22px $base-font-sans-serif;
	margin-bottom: 10px;
	
	@include media("<tablet") {
		margin-bottom: 0;
	}
}

.icon-twitter {
	font-size: 14px;
	line-height: 16px;
	position: absolute;
	top: 2px;
	left: 0px;
}

.share-this {
	@extend %listreset;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.bottom-row-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.bottom-row {
	border-top: 1px solid $light-gray;
	box-shadow: inset 0  2px 5px 0px rgba(0, 0, 0, .15);
	background: #f9f9f9;
	padding: 18px 0 8px;
	margin-top: 20px;

	.logo {
		opacity: 0.8;
		margin-bottom: 10px;
	}

	.adres {
		color: $light-gray;
		font-size: 13px;
		line-height: 15px;
	}
}